<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.buyItem.BuyItemDao">

	<insert id="BuyItemInsert"
		parameterType="com.example.demo.buyItem.BuyItemVO">
		insert into buyitem(itemid,buyername,price,img) values
		(#{itemid},#{buyername},#{price},#{img})
	</insert>
	<select id="BuyItemList"
		resultType="com.example.demo.buyItem.BuyItemVO">
         select * from buyitem where buyername = #{buyername}
	</select>






</mapper>
